<script language="Javascript">
  Stripe.setPublishableKey("<%= Rails.application.credentials.dig(:stripe, :publishable_key)%>")
</script>

<%= form_for @tenant,url: update_plan_path, html: { method: :patch, class:"cc_form" } do |f| %>
    <div class="form-group">
        <%= f.label :name%>
        <%= f.text_field :name, class: "form-control"%>
    </div>
    <div class="form-group">
        <div class="input-group col-sm-4">
            <%= f.label :plan %>
            <%= f.select(:plan, Plan.options,{selected: @tenant.plan} ,class: 'form-control') %>
        </div>
    </div>
    <div id="card_info">
        <%= fields_for :payment do |payment_f| %>
            <div class="row">
                <div class="form-group col-sm-4">
                    <%= payment_f.label :card_number, class: "form-label" %>
                    <%= payment_f.text_field :card_number, class: 'form-control', maxlength: 19, data: { stripe: 'number' } %>
                </div>

                <div class=" form-group col-sm-3">
                    <%= payment_f.label :cvc, class: "form-label" %>
                    <%= payment_f.text_field :cvc, class: 'form-control', maxlength: 4, data: { stripe: 'cvc' } %>
                </div>
                </div>
                <label class="mb-3">Card Expiration Date</label>

                <div class="form-group">
                <div class="row mb-4">
                    <div class="col-md-5">
                        <%= payment_f.select :card_expires_month, Payment.month_options, { include_blank: "Month" }, class:'form-control', data: { stripe: "exp-month" } %>
                    </div>
                    <div class="col-md-3">
                        <%= payment_f.select :card_expires_year, Payment.year_options, { include_blank: "Year" }, class:'form-control', data: { stripe: "exp-year"}  %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="form-group">
    <%= f.submit "Update plan", class: 'btn btn-primary' %>
    </div>
<% end %>
