<% if !user_signed_in? %>
    <%= render "welcome_banner" %>
<% else %>
    <h1>
        Organization: <strong> <%= @tenant.name %> </strong>
    </h1>
    <%= link_to new_tenant_project_path(@tenant.id) do %>
        <button class="btn btn-primary align-center">
            <%= bootstrap_icon "plus-circle" %> New Project
        </button>
    <% end %>
    <h2>
        Projects:
    </h2>
    <div class="row">
        <%= render @projects %>
    <div>
<% end %>
