<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <%= link_to "SaasApp", root_path, class:"navbar-brand" %>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <% if user_signed_in?%>
                <li>
                    <%= bootstrap_icon "person-plus"%>
                    <%= link_to "Invite a new user" , new_member_path  %>
                </li>
                <% else %>
                <li>
                    <a href="#">No bitches?</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                    <li>
                        <%= link_to destroy_user_session, method:delete do %>
                            <button type="button" class="btn btn-default">Login</button>
                        <%end%>

                    </li>
                    <li>
                        <%= bootstrap_icon "person-circle"%>
                        <% link_to current_user.email, "#"%>
                    </li>
                <% else %>
                    <li>
                        <%= link_to new_user_session_path do %>
                            <button type="button" class="btn btn-default">Login</button>
                        <%end%>
                    </li>
                    <li>
                        <%= link_to new_user_registration_path do %>
                            <button type="button" class="btn btn-primary">Sign up</button>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
